h1 {
    color: white;
    font-size: 2em;
    margin-left: 20px;
}

section {
    width: 300px;
    height: 650px;
    background-color: #808080;
}

.box {
    width: 135px;
    height: 135px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #fea500;
}